@charset "utf-8";

*,*::before,*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    width:100vw;
    height:100vh;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.desktop-only {
    display: none !important;
}
.banner {
    width:100vw;
    height:76vh;
    /* display:flex;
    justify-content: space-evenly;
    align-items: center; */
    background-image: url(/MiMariachi/assets/banner-mobile.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: scroll;
    
}

.title-text {
    text-align: center;
    font-size: 20px;
    width:30%;
}

header {
    width:100vw;
    height:10vh;
    background: rgb(10,111,37);
    background: linear-gradient(34deg, rgba(10,111,37,0.8455497382198953) 28%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 63%, rgba(182,1,0,0.824607329842932) 77%);
    box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
    -webkit-box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
    -moz-box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0 25px;
}

footer {
    height:14vh;
    background-color:  rgba(240, 215, 202, 0.693);
}

footer div, footer h4 {
    text-align: center;
    padding-top: 20px;
}

h1 {
    text-align: center;
    margin:20px 0;
    font-size: 30px;
}

article p {
    line-height: 150%;
    margin:20px 10px;
    text-align: justify;
}

table {
    width:95%;
    margin:20px auto;
}

form {
    margin:20px auto;
}
section p {
    text-align: center;
}


.form-sec {
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
}
input {
    padding-left:10px;
}

input::placeholder  {
    font-family: montserrat, sans-serif;
}

input[type=text], input[type=number], input[type=tel], input[type=date], select {
    height:40px;
    width:50%;
    border: 1px solid lightgrey;
    border-left: none;
}

input[type=checkbox] {
    margin-left:11%;
    margin-bottom:20px;
}

label {
    width:30%;
    height:40px;
    padding:8px 5px 11px;
    border:1px solid lightgrey;
}

.add-mg {
    padding-top:15px;
}

.add-xtra-mg {
    padding-top:26px;
}
.price {
    font-family: "montserrat", sans-serif;
    text-align: right;
    font-weight: 600;
}
.category {
    padding-top:20px;
    font-family: "Merienda", cursive;
    text-transform: uppercase;
    
}
.subcat {
    padding-left:15px;
}

.foot-right a, .foot-right h4 {
    display: inline;
}
.aboutus-img {
    width:100%;
    height:auto;
    display: block;
    margin:0 auto;
}
.logo {
    display:block;
    width:auto;
    height:90%;
    margin:0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    position: absolute;
    bottom:15vh;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width:70%;
    justify-content: space-evenly;
    align-items: center;
    margin:0 auto;
}

.flex-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
}

.flex-row a {
    text-align: center;
    width:40%;
    margin:10px;
}

/* Gradient on text */

.banner h1 {
    margin-top:7vh;
    font-size: 42px;
    background: -webkit-linear-gradient(34deg, rgba(10,111,37,0.8455497382198953) 28%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 63%, rgba(182,1,0,0.824607329842932) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.banner h2 {
    color: rgba(240, 215, 202, 0.693);
}

h2 {
    text-align: center;
}

h1, .title-text {
    font-family: "Merienda", cursive;
}

.banner .btn, form .btn {
    padding:10px;
    background-color:  rgba(240, 215, 202, 0.693);
    transition: all ease .3s;
}

.flex-link .btn {
    text-align: center;
    width: 33.3%;
    padding:19px 0 20px;
    background-color:  rgba(240, 215, 202, 0.693);
}

.flex-link .btn:hover {
    opacity: .8;
    font-weight: 500;
}

.less-pad {
    padding: 10px !important;
}
.banner .btn:hover, form .btn:hover {
    background: rgb(10,111,37);
    background: linear-gradient(34deg, rgba(10,111,37,0.8455497382198953) 28%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 63%, rgba(182,1,0,0.824607329842932) 77%);
    box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
    -webkit-box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
    -moz-box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
    font-weight: 500;
    transform: scale(1.2);
    transition: all ease .3s;
}

.mariachi-bg {
    height:20vh;
    background-image: url(/MiMariachi/assets/mariachi-bg.jpg);
    background-size: cover;
    background-position: center;
    opacity:0.8;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mariachi-bg h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    letter-spacing: 3px;
    font-size: 30px;
}

.add-height {
    height: 30vh;
}

form .btn {
    width:30%;
    text-align: center;
    margin: 20px auto;
    border:none;
    transition:all ease .3s;
}

.comment-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#lbl-comments {
    margin-left:10%;
    margin: 40px 10%;
}

#comments {
    display: block;
    width:80%;
    height: 100px;
    margin-left:10%;
    margin-top: 30px;
    border:1px solid lightgrey;
    padding:10px;
}

#buyout-desk, #buyout-mobile {
    filter: hue-rotate(-119deg);
}

#question-mark-mobile {
    display:inline;
    width: 20px;
    height:auto;
}

#lbl-buyout-mobile, #lbl-buyout-desk {
    border:none;
    margin-left:20px;
}

#lbl-buyout-desk, #buyout-desk, #question-mark-desk {
    display: none;
}

/*==========================================
------Tablet and Landscape Mobile-----------
==========================================*/
@media only screen and (min-width: 600px)  {
    
    header {
        width:100vw;
    }
    .banner {
        background-image: url(/MiMariachi/assets/banner-landscape.jpg);
        background-position: right bottom ;
    }
    .banner h2 {
        color: rgba(240, 215, 202, 1);
    }
    h1 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(18, 18, 18);
        letter-spacing: 3px;
    }
    .banner .btn {
        background-color: rgba(240, 215, 202, 0.8);
        transition: all ease .3s;
    }
    .less-pad {
        padding:19px 0 20px !important;
    }
    table .desktop-only {
        display: block !important;
    }
    .descript {
        font-size:12px;
    }
    table .mobile-only{
        display: none;
    }
    .foot-left {
        float:left;
    }
    .foot-right {
        float:right;
        display: inline;
    }
    .foot-right h4 {
        margin-right:10px;
    }
    footer div {
        padding:20px 40px;
    }
    .foot-logo-text {
        clear:both;
    }
    #question-mark-desktop {
        display:none;
    }
    #lbl-buyout-desk, #buyout-desk, #question-mark-desk {
        display: none;
    }

    

}

/*==========================================
--------------Desktop-----------------------
==========================================*/

@media only screen and (min-width: 992px) {
    .banner {
        background-image: url(/MiMariachi/assets/banner-desktop1.jpg);
        background-position: top;
    }
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display:none;
    }
    .mini-banner>.flex-col {
        margin:0 0 20px;
    }
    header .flex-col {
        position:absolute;
        left:50%;
        transform: translateX(-50%);
    }
    header h2 {
        font-weight: 500;
    }
    header h2:first-of-type {
        font-size: 36px;
        font-weight: 500;
    }
    .banner h1{
        height:100px;
        margin:0;
        padding-top: 20px;
        font-size: 60px;
    }
    .mini-banner {
        width:60%;
        height:60%;
        max-width:800px;
        padding:30px;
        background-color: rgba(51,51,51,0.6);
        position:relative;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        /* margin:40px auto; */
        color:rgba(240, 215, 202, 1);
        line-height: 200%;
    }

    .banner h2 {
        font-size:24px;
        color:rgba(242, 232, 232, 0.899);
        /* -webkit-text-stroke: 1px black; */
    }
    .mini-banner .btn {
        width:20%;
        position:relative;
        left:40%;
        margin:30px 0;
    }
    .mini-banner p {
        margin-bottom:30px;
    }
    footer section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 12px;
        padding:0 50px;
        line-height:150%;
        height: 55%;
    }
    .foot-left p, .foot-right p, .foot-right a {
        text-align: left;
        font-weight: 500;
    }
    
    .foot-left, .foot-right {
        width:25%;
    }
    .foot-center {
        width:40%;
        text-align: center;
    }
    footer h4 {
        padding:0;
    }
    .foot-logo-text {
        margin-top: 2em;
        
        font-size:14px;
    }
    header .btn {
        margin:0 10px;
        transform: all ease .3s;
    }

    header {
        justify-content: space-between;
        padding:0 50px;
    }
    header .btn:hover {
        transform: scale(1.2);
        font-weight: 500;
        transform: all ease .3s;
    }
    .logo {
        margin:0;
    }
    table {
        width:90%;
    }

    #menu-btn {
        background-color:  rgba(240, 215, 202, 0.693);
        padding:10px 50px;
        position:relative;
        left: 37%;
        transform: translateX(-50%);
        transition: all ease .3s;
    }

    #menu-btn:hover {
        background: rgb(10,111,37);
        background: linear-gradient(34deg, rgba(10,111,37,0.8455497382198953) 28%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 63%, rgba(182,1,0,0.824607329842932) 77%);
        box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
        -webkit-box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
        -moz-box-shadow: -2px -18px 41px -12px rgba(0,0,0,0.56) inset;
        font-weight: 500;
        transform: scale(1.2);
        transition: all ease .3s;
    }

    /*===========================================
    -------Flexbox for Reservations*-------------
    ===========================================*/
    input[type=text], input[type=date], select, input[type=tel] {
        width:20%;
    }
    input[type=number]  {
        width:15%;
        margin-right:10%;
    }
    label {
        width:15%;
    }
    form .desktop-only {
        display:flex !important;
    }
    .foot-right h4 {
        display: block;
    }
    .foot-right a {
        display: inline;
    }
    .foot-right {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left:10%
    }
    .foot-left h4 {
        text-align: left;
    }
    .special-flex {
        display: flex;
        width:40%;
        justify-content: end;
        align-items: center;
    }

    #fname, #email, #date, #numPpl {
        margin-right:10%;
    }
    #lbl-buyout-desk {
        width:70%;
        padding: 10px 0;
    }
    #buyout-desk {
        
    }
    #numPpl {
        /* margin-right:20vw; */
    }
    #question-mark-mobile {
        display: none;
    }
    #question-mark-desk {
        height:70%; 
        width: 7%;
        }

    input[type=checkbox] {
        margin:0;
        width:10%;
        padding:10px 0;
    }

    #lbl-buyout-desk, #buyout-desk, #question-mark-desk {
        display: block;
    }

}